/*Body*/
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    }

.container{
    padding: 0;
}

.main{
    clear: both;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
}

/*Header*/
.header{
    text-align: center;
    
}

/*----Nav bar section----*/
/* Container for the nav bar*/
.topnav{
overflow: hidden;


}

/*Links inside the Navbar*/
.topnav a{
float: left;
text-align: center;
padding: 13px;
font-size: 17px;

}

/*On hover*/
.topnav a:hover{
    color:#0a0a0a;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}
/* Styling for the "Login" and "Sign Up" buttons */
.login, .sign_up {
    border-radius: 65px; /* Half of the button's height */
    background-color: #6290cb;
    color: white; /* Text color */
    padding: 2px 6p; /* Adjust padding as needed */
    margin-left: 10px; /* Adjust margin as needed */
    text-decoration: none; /* Remove underline */
    line-height: 10px; /* Adjust line height */
    display: inline-block; /* Ensure inline-block to apply line-height */
    vertical-align: middle; /* Vertically center the text */
}

.sign_up{
    margin-right: 7px;
}

/*Container for the dropdown*/
.dropdown{
    float: left;
    overflow: hidden;
}

.dropdwn{
    background-color: white;
}

/*Controls the button itself*/
.dropdown .dropdwn{
    font-size: 16px;
    border:none;
    outline: none;
    padding: 14px 16px;
    font-family:inherit;
    margin:0;
}

/*Controls the look of the dropdowns content*/
.dropdown-content{
    display:none;
    position:absolute;
    background-color: #6290cb;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px;
    z-index: 1;
    text-decoration: none;
}

.dropdown-content a{
    float:none;
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    display:block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #1c2541;
    color: #f0f6f6 ;
  }

.dropdown:hover .dropdown-content {
    display: block;
}

/* Remove underline from links */
.topnav a,
.dropdown-content a,
.footer a {
    text-decoration: none;
    color:#0a0a0a;
}

/*-----Flip Cards---*/

.card-container {
    display: grid;
    grid-template-columns: repeat(3, auto); /* 3 columns */
    grid-template-rows: repeat(2, auto); /* 2 rows */
    margin-left: 50px;
    margin-top: 15px;
    justify-content: center; /* Align items horizontally to the center */
    align-items: center; /* Align items vertically to the center */
    overflow: hidden;
  }

.flip-card{
    padding: 0px;
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin-right: 20px;
    margin-top: 10px;
    flex: 0 0 auto; /*stops cards from getting bigger or smaller*/
    clear: auto;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }