


.LogInSignUp{   /*Body ID for Sign up and Log In*/
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c2541;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.loginbox {
    background-color: #F0f6f6;
    border: 2px solid #1c2541;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.loginbox h2, .Signup-box h2 {
    margin-bottom: 20px;
    text-align: center;
}
.loginbox input[type="text"],  /*Text boxes for username and password*/
.loginbox input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #1c2541;
    border-radius: 20px;
    box-sizing: border-box;
}
.loginbox input[type="submit"] { /*Submission button*/
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 20px;
    background-color: #1c2541;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}
.loginbox input[type="submit"]:hover {
    background-color: #6290cb;
}
#HomeButton{
    display: block;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  color: #1c2541;   
}
/*------Sign up style------*/
.Signup-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;  
}
.Signup-box {
    background-color: #F0f6f6;
    border: 2px solid #1c2541;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.Signup-box input[type="text"],  /*Text boxes for username,email and password*/
.Signup-box input[type="email"],
.Signup-box input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #1c2541;
    border-radius: 20px;
    box-sizing: border-box;
}
.Signup-box input[type="submit"] { /*Submission button*/
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 25px;
    border: none;
    border-radius: 20px;
    background-color: #1c2541;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}
.Signup-box input[type="submit"]:hover {
    background-color: #6290cb;
}
